.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 74vh;
}

.chooseCategory {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wineImg {
  width: 350px;
  height: 500px;
  border-radius: 17px;
}
