.flipCard {
  margin: 20px 0;
  background-color: transparent;
  width: 160px;
  height: 200px;
  perspective: 1000px;
  display: inline-block;
}

.flipCardInner {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipCardFront {
  background-color: #bbb;
  color: black;
}

.flipCardBack {
  background-image: linear-gradient(to right, white, #3E5151);
  color: white;
  transform: rotateY(180deg);
}

.text {
  margin-top: 40%;
}

.flipImg {
  width: 160px;
  height: 200px;
  display: inline-block;
}

.type {
  margin: 0;
  background-color: #221F20;
  color: whitesmoke;
  text-align: center;
  border-radius: 17px;
}

@media screen and (max-width: 1200px) {
  .flipImg {
    width: 396px;
  }
  .flipCard {
    margin: 40px 0;
    width: 396px;
  }
}


@media screen and (max-width: 666px) {
  .flipImg {
    width: 340px;
  }
  .flipCard {
    margin: 40px 0;
    width: 340px;
  }

  .type {
    padding: 10px 0;
    width: 340px;
  }
}
