.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1200px) {
  .row {
    gap: 100px;
  }
}

@media screen and (max-width: 786px) {
  .container {
    gap: 50px;
  }

  .row {
    flex-direction: column;
  }
}
