.img {
  max-width: 325px;
  max-height: 250px;
  object-fit: cover;
}

.card {
  margin-top: 10px;
  padding: 0 15px;
  text-align: center;
  font-family: arial;
  display: flex;
}

.descriptionBlock {
  max-width: 300px;
  max-height: 250px;
  background-color: whitesmoke;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.title {
  margin-top: 5px;
  margin-bottom: 5px;
  color: orangered;
}

.price {
  margin: 0px;
  color: #000;
  font-size: 22px;
}

.description {
  margin: 0;
  padding: 5px;
}

.btn {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 666px) {
  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .img {
    max-width: 396px;
  }

  .descriptionBlock  {
    max-width: 396px;
    border: none;
  }

  .btn {
    max-width: 396px;

  }
}
