.container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.navLink {
  text-decoration: none;
}

.after {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  bottom: 0;
  z-index: 9;
}

.video {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  object-fit: cover;
}

.sections {
  background-color: black;
  width: 150px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  //gap: 10px;
  z-index: 11;
  opacity: 0.3;
  transition: opacity 1s;
  left: 0;
  gap: 50px;
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 24px;
  color: white;

}
.sections:hover {
  transition: opacity 1s;
    opacity: 1;
}
