.footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 8vh;
  width: 100%;
  min-width: 320px;
  min-height: 60px;
  background-color: whitesmoke;
  opacity: 0.8;
  padding: 0 35px;
  gap: 10px;
  z-index: 1000;

  &Disable {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .footer {
   display: none;
  }
}
